@model User
<form method="post" action="/users/account/@Model.Id">
    <div class="col-md-6 offset-lg-3 align-middle" style="margin-top: 50px">
        <h1 class="text-center">Chirp</h1>
        @*<label for="exampleTextarea" class="form-label mt-4">Example textarea</label>*@
        <textarea class="form-control" id="exampleTextarea" rows="5" maxlength="255" placeholder="new chirp" name="Content"></textarea>
    </div>
    <br />
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-lg btn-primary col-md-6 offset-lg-3 align-middle" type="button" fdprocessedid="k0n2h">Post</button>
    </div>
</form>

