@*add a view data for weather or not one can add a new messageso when people vist others pages they gucci*@
@*@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/VaporTheme.css" />*@
@model User

<div style="margin-top:20px; margin-bottom:20px;">
    <h1 style="display:inline-block;margin-right:10px;">@Model.UserName's ChIrp page</h1>
    <a href="/users/account/@Model.Id/newmessage" style="display:inline-block; float:right; margin-right:60px;">
        <button type="button" class="btn btn-primary btn-lg" fdprocessedid="0bpb3">ChIrp</button>
     </a>
</div>

@foreach(var message in Model.Messages)
{
    <div>
        <br/>
        <figure class="text-center">
            <blockquote class="blockquote">
                <p class="mb-0">"@message.Content"</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                @message.CreatedAt.ToLocalTime().ToShortTimeString() <cite title="Source Title"></cite>
            </figcaption>
        </figure>
        <br />
    </div>  
}

