@*add a view data for weather or not one can add a new messageso when people vist others pages they gucci*@

@model User
<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="~/images/badtwitterlogo1.png" width="50px" height="50px" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"><button type="button" class="btn btn-outline-info" fdprocessedid="gqbkm">Discover</button></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <button type="button" class="btn btn-outline-info" fdprocessedid="gqbkm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                                <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z" />
                            </svg>
                        </button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="users" asp-action="newaccount"><button type="button" class="btn btn-outline-info" fdprocessedid="gqbkm">Sign Up</button></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="users" asp-action="login"><button type="button" class="btn btn-outline-info" fdprocessedid="gqbkm">Login</button></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="users" asp-action="UserHome"><button type="button" class="btn btn-outline-info" fdprocessedid="gqbkm">Home</button></a>
                </li>
            </ul>
            <li class="nav-item dropdown d-flex" style="margin-right:25px">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                    </svg>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item " href="#">Profile</a>
                    <a class="dropdown-item" href="#">Settings</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Sign Out</a>
                </div>
            </li>
            <form class="d-flex">
                <input class="form-control me-sm-2" type="search" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit" fdprocessedid="sl1l5i">Search</button>
            </form>
        </div>
    </div>
</nav>
<div style="margin-top:20px; margin-bottom:20px;">
    <h1 style="display:inline-block;margin-right:10px;">@Model.UserName's ChIrp page</h1>
    <a href="/users/account/@Model.Id/newmessage" style="display:inline-block; float:right; margin-right:60px;">
        <button type="button" class="btn btn-primary btn-lg" fdprocessedid="0bpb3">ChIrp</button>
     </a>
</div>

@foreach(var message in Model.Messages)
{
    <div>
        <br/>
        <figure class="text-center">
            <blockquote class="blockquote">
                <p class="mb-0">"@message.Content"</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                @message.CreatedAt.ToLocalTime().ToShortTimeString() <cite title="Source Title"></cite>
            </figcaption>
        </figure>
        <br />
    </div>  
}

